.gradient-custom-2 {

    background: #2a4e6d;
    
    
    background: -webkit-linear-gradient(to right, #2c6b85, #2a4e6d, #233653);
    
 
    background: linear-gradient(to right, #2c6b85, #2a4e6d, #233653);
    }

    .btn {
       background-color:#2a4e6d;
      
    }
    .btn:hover{
        background-color: #233653;
    }


    .password-container {
        position: relative;
      }
      
      .password-toggle {
        position: absolute;
        right: 10px;
        top: 35%;
        transform: translateY(-50%);
        cursor: pointer;
      }
      
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }